@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  /* 
    Shadcn/UI
    https://ui.shadcn.com/docs/theming#list-of-variables 
  */
  :root {
    /* Default background color of <body />...etc */
    --background: 246 62% 3%;
    --foreground: 248 24% 72%;
    
    /* Background color for <Card /> */
    --card: 246 55% 6%;
    --card-foreground: 248 24% 72%;
    
    /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    
    /* Primary Buttons etc */
    --primary: 250 90% 60%;
    --primary-foreground: 0 0% 100%;
    
    /* Secondary colors for <Button /> */
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    
    /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
    --muted: 250 25% 15%;
    --muted-foreground: 240 5% 64.9%;
    
    /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
    --accent: 248 19% 59%;
    --accent-foreground: 0 0% 98%;
    
    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    /* Default border color */
    --border: 245 42% 76%;
    /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
    --input: 250 25% 15%;
    /* Used for focus ring */
    --ring: 250 90% 60%;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1, h2, h3, h4 {
  font-family: var(--font-poppins);
  font-weight: 600;
}
