// global styles

html {
  font-family: sans-serif;
  font-size: 16px;
}



nav {
  display: flex;
  gap: .5rem;
  width: 100%;
  align-items: center;
  a, button {
    outline: none;
    border: none;
    appearance: none;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #000;
    background: #eee;
    &:hover {
      background: #ddd;
      text-decoration: none;
    }
  }
}

a {
  color: #0f83ff;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.45rem;
  &.notice {
    background: #eee;
    padding: 0.75rem;
    padding-left: 1rem;
    border-left: 4px solid #ddd;
    font-style: italic;
    color: #666;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
  }
}
pre {
  display: block;
  padding: 1rem;
  background: #222;
  overflow: scroll;
  color: #94f7dd;
  font-size: 1rem;
  line-height: 1.6rem;
  border-radius: 0.5rem;
}